@import 'colors';

.top-bar {
  width: 98%;
  position: fixed;
  top: 0;

  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;

  .back {
    width: 56px;
    height: 28px;

    img {
      cursor: pointer;  
      width: 28px;
      height: 28px;
    }
  }
}

.pause-button {
  cursor: pointer;
  position: fixed;
  right: 0px;
  @media (min-width: 768px) {
    right: 20px;
  }
  bottom: 50%;

  img {
    width: 60px;
    height: 60px;
  }
}
