@import "colors";

// Reset
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    background: $background-dark;
    color: $default-foreground;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    &, input {
      font-family: Roboto !important;
      font-style: normal;
    }
}

.container-inner {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;    
}
