@import "colors";

a {
  color: $link-color;
}

.border-button {
  padding: 3.5px 10px;
  border-radius: 3px;
  border: solid 1px $default-foreground;
  color: $default-foreground;
  background: $background-dark;
  text-decoration: none;

  &:hover, &:active {
    color: $background-dark;
    background: $default-foreground;
  }

  cursor: pointer;
}

.border-button--active, .border-button--active:hover, .border-button--active:active {
  cursor: default;
  color: $background-dark;
  background: $secondary-foreground;
  border-color: $secondary-foreground;
}

.bg-button {
  color: $background-dark;
  padding: 3.5px 10px;
  border-radius: 3px;
  background: $default-foreground;
  text-decoration: none;

  &:hover, &:active {
    color: black;
    background: $default-foreground;
  }

  cursor: pointer;
}

.page-title {
  font-weight: 200;
  font-size: 30px;
  line-height: 28px;
  letter-spacing: 0.055em;
  font-variant: small-caps;
  text-transform: lowercase;
  font-feature-settings: 'cp';

  position: absolute;
  width: 100%;
  text-align: center;
  pointer-events: none;
}



.scrolling-container {
  overflow: scroll;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}