@import "colors";

.session-details {
  display: flex;
  justify-content: space-between;
  background:#4e4e4e;

  padding: 15px;
  border: 1px solid $secondary-foreground;
  border-bottom: none;
  border-right: none;
  border-left: none;

  &:hover, &:active {
    background: #616161;
  }

  &:last-of-type {
    border-bottom: 1px solid $secondary-foreground;
  }


  .chart-container {
    height: 80px;
    width: 80px;
    box-sizing: border-box;

  //   // width: 100%;
  //   // margin-top: 50px;
  //   // text-align: center;
  }
  // .chartjs-tooltip {
  //   opacity: 1;
  //   position: absolute;
  //   background: rgba(0, 0, 0, .7);
  //   color: white;
  //   border-radius: 3px;
  //   -webkit-transition: all .1s ease;
  //   transition: all .1s ease;
  //   pointer-events: none;
  //   -webkit-transform: translate(-50%, 0);
  //   transform: translate(-50%, 0);
  //   z-index: 10;
  // }

  // .chartjs-tooltip-key {
  //   display: inline-block;
  //   width: 10px;
  //   height: 10px;
  //   margin-right: 10px;
  // }
}