@import "colors";

.pill-choices {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 20px;
  max-width: 100%;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.timed-pills-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.timed-pills {
  height: 50%;
  position: relative;
}

.scrolling-pills {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  height: 100%; 
  overflow: scroll;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

// top shadow
.border-shadows-top {
  position: absolute;
  top: 0;
  background-image: linear-gradient($background-dark, rgba(0, 0, 0, 0));
  width: 100%;
  height: 30px;
}

// bottom shadow
.border-shadows-bottom {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), $background-dark);
  width: 100%;
  height: 30px;
}

.pill, .pill-timed {
  color: black;
  cursor: pointer;

  width: 180px;
  min-width: 180px;
  height: 29px;
  line-height: 29px;
  border-radius: 19px;
  text-align: center;
}

.pill {
  margin-right: 10px;

  &:first-child{
    margin-left: 10px;
  }

  &:last-child{
    margin-right: 40px;
  }
}

.pill-timed {
  margin-bottom: 10px;
  &:last-child{
    margin-bottom: 0px;
  }
}

